@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #0967d219;
}

.container {
    background-color: #ffffff;
    margin: 5px;
}

.main-container {
    padding: 20px;
}

.text-container {
    padding: 5px;
}

.sub-main-section {
    padding: 10px;
}

.top-image {
    height: 90px;
    width: 120px;
}

.main-section-heading {
    font-size: 18px;
    font-family: "Roboto";
    color: #707070;
}

.main-section-button {
    color: white;
    background-color: #0967d2;
    width: 90px;
    height: 30px;
    font-size: 12px;
    border-width: 0px;
    border-radius: 10px;
}

.sub-main-section {
    background-color: #0967d219;
    border-radius: 10px;
}

.covid-heading {
    font-size: 17px;
    font-family: "Roboto";
    color: #323f4b;
}

.covid-text {
    font-size: 12px;
    color: #707070;

}

.coronovirus-image {
    width: 45px;
    height: 45px;
    margin: 15px;
}

.symptoms-card {
    color: white;
    border-radius: 10px;
    height: 95px;
    width: 85px;
    padding: 13px;
    margin: 7px;
}

.card-green {
    background-color: #3ebd93;
}

.card-pink {
    background-color: #e668a7;
}

.card-violet {
    background-color: #a368fc;
}

.word {
    font-size: 12px;
}

.mid-section-heading {
    font-size: 15px;
    padding: 8px;
    font-family: "Roboto";
}

.doctor {
    height: 40px;
    width: 40px;
    margin: 20px;
}

.bottom-card {
    background-color: #e12d3919;
    border-radius: 10px;
}

.bottom-text-container {
    padding: 10px;
}

.bottom-section-heading {
    font-size: 17px;
    font-family: "Roboto";
    font-weight: 500;
}