@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #875fc0;
    height: 100vh;
    background-size: cover;
}

.container {
    padding: 20px;
}

.top-section {
    background-color: #ffffff;
    border-radius: 10px;
    font-family: "Roboto";
    text-align: center;
    padding: 20px;
}

.heading {

    font-size: 28px;
    color: #1f2933;
}

.top-para {
    font-family: "Roboto";
    font-size: 14px;
    color: #323f4b;
}

.image {
    width: 75vw;
}

.score {
    text-align: right;
    font-family: "Roboto";
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

.bottom-section {
    background-color: #ffffff;
    border-radius: 10px;
    font-family: "Roboto";
    padding: 10px;
    margin: 20px;
}

.items {
    border-style: solid;
    border-color: #1f2933;
    padding: 10px;
    margin: 20px;
    color: #323f4b;
    border-radius: 10px;
    border-width: 1px;
}

.items3 {
    color: #ffffff;
    background-color: #875fc0;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-color: #1f2933;
    border-radius: 10px;
    border-width: 1px;
}

.button {
    height: 38px;
    width: 90px;
    background-color: #fbaf00;
    color: #ffffff;
    border-width: 0px;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 14px;
}

.last {
    text-align: center;
}

.list {
    list-style-type: none;
}